<!DOCTYPE html>
<html xml:lang="ko" lang="ko" class="no-js"
    xmlns="http://www.w3.org/1999/xhtml">
<!-- Mirrored from www.ultion.co.kr/company/overview.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Jul 2016 02:05:50 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!-- /Added by HTTrack -->

<head>
    {{>common/head}}
</head>

<body id="section" class="col-subcol">
    <!-- empty placeholder for script -->
    <div id="wrapper">
    
        {{>common/menu}}

        <div id="css_wrapper">
            <div id="wrapper-2">
                <div id="wrapper-3">


                    <div id="breadcrumb">
                        <a href="/main"><img
                            src="/static/assets/dam/jcr_48ddb298-3dbf-4cc3-b0bf-ecb956c67397/home_nav.png"
                            alt="home"></a><span class="next_index">&gt;</span>
                        <a href="/company/Introduce">회사소개</a><span
                            class="next_index">&gt;</span> <strong>회사소개</strong>
                    </div>
                    <!-- end breadcrumb -->



                    <div id="ultion_textOpener">

                        <h2 class="jump1">회사소개</h2>
                        <!--<div id="ultion_textOpener_text">
        <p>IT 통합 솔루션 구축에 신뢰할 수 있는 비즈니스 파트너가 되겠습니다.</p>
    </div>-->
                    </div>
                    <div id="mainSection" role="main">

                        <div class="text" role="article">



                            <div id="ultion_baseText">
                                <h2>개요</h2>
                                <div id="ultion_textOpener_text">
                                    <p>IT 통합 솔루션 구축에 신뢰할 수 있는 비즈니스
                                        파트너가 되겠습니다.</p>
                                </div>

                                <p>
                                    “ IT를 기반으로 기업에 Marketing &amp;
                                    Customizing 서비스를 제공하는 Total
                                    Marketing Platform 전문기업 ” <br>
                                    고객의 요구에 맞는 최적의 솔루션과 서비스 제공으로 신뢰할 수
                                    있는 비즈니스 파트너가 되기 위하여 언제나 노력합니다.
                                </p>

                            </div>
                            <br>



                            <div class="ultion_TextImage">
                                <div class="ultion_TextImage_img"
                                    style="float: left; display: inline-block;">

                                    <a
                                        href="/static/assets/dam/jcr_e2335517-103f-4a86-88da-7844ad0001f3/expert_group.png"
                                        title="Zoom on this image"
                                        rel="showbox"><img
                                        src="/static/assets/dam/jcr_e2335517-103f-4a86-88da-7844ad0001f3/expert_group.png"
                                        alt="Expert Group"></a>
                                </div>
                                <div class="ultion_TextImage_text1"
                                    style="float: left;">
                                    <h3>국내 최고의 IT 전문가 그룹</h3>
                                    <p>
                                        <span style="line-height: 1.6em">얼티온은
                                            오랫동안 IT 분야의 통합 솔루션을 구축해
                                            왔습니다. 국내/외 대기업 및 다양한 분야의
                                            프로젝트 구축 경험을 바탕으로 누구보다 뛰어난 IT
                                            인재 전문가 그룹을 형성하고 꾸준히 양성해
                                            왔습니다.</span>
                                    </p>

                                </div>
                                <div class="ultion_TextImage_text">
                                    <h3
                                        class="ultion_TextImage_highlight">지속적인
                                        자기계발과 역량강화로 글로벌 인재 그룹을 양성을 위해
                                        최선을 다할 것입니다.</h3>
                                </div>
                                <hr class="hrLine">

                            </div>



                            <div class="ultion_TextImage">
                                <div class="ultion_TextImage_img"
                                    style="float: left; display: inline-block;">

                                    <a
                                        href="/static/assets/dam/jcr_bb129bf1-c5ba-4ed4-b4bb-213aa529e669/knowhow.png"
                                        title="Zoom on this image"
                                        rel="showbox"><img
                                        src="/static/assets/dam/jcr_bb129bf1-c5ba-4ed4-b4bb-213aa529e669/knowhow.png"
                                        alt="Knowhow"></a>
                                </div>
                                <div class="ultion_TextImage_text1"
                                    style="float: left;">
                                    <h3>최고의 기술력 확보 및 다양한 노하우 구축</h3>
                                    <p>
                                        <span style="line-height: 1.6em">얼티온은
                                            다양한 분야의 통합 솔루션을 구축하면서, 누구보다
                                            앞선 기술력과 노하우로 프로젝트 구축에 대한 우수한
                                            성공률을 지켜왔습니다. 이에 따라, 얼티온은 동종
                                            분야에서 고객 인지도 및 신뢰도에 있어 앞선 위치를
                                            확보했습니다.</span>
                                    </p>

                                </div>
                                <div class="ultion_TextImage_text">
                                    <h3
                                        class="ultion_TextImage_highlight">앞으로도
                                        앞선 기술력과 다양한 솔루션 확보을 위해 얼티온은 더욱
                                        노력할 것입니다.</h3>
                                </div>
                                <hr class="hrLine">

                            </div>



                            <div class="ultion_TextImage">
                                <div class="ultion_TextImage_img"
                                    style="float: left; display: inline-block;">

                                    <a
                                        href="/static/assets/dam/jcr_19abf6ea-ff9c-4a7e-974e-dba58abd2ab1/total_solution.png"
                                        title="Zoom on this image"
                                        rel="showbox"><img
                                        src="/static/assets/dam/jcr_19abf6ea-ff9c-4a7e-974e-dba58abd2ab1/total_solution.png"
                                        alt="Total Solution"></a>
                                </div>
                                <div class="ultion_TextImage_text1"
                                    style="float: left;">
                                    <h3>글로벌 통합 솔루션 파트너</h3>
                                    <p>
                                        <span style="line-height: 1.6em">얼티온은
                                            다양한 글로벌 벤더 솔루션을 활용한 글로벌 프로젝트
                                            구축을 통해 글로벌 비즈니스 환경에 적합한
                                            인재풀(pool)을 구축했습니다.</span>
                                    </p>

                                </div>
                                <div class="ultion_TextImage_text">
                                    <h3
                                        class="ultion_TextImage_highlight">지속적인
                                        자기계발과 역량강화로 글로벌 인재 그룹을 양성을 위해
                                        최선을 다할 것입니다.</h3>
                                </div>

                            </div>

                        </div>
                        <!-- end text -->


                        <span class="gotop">gotop</span>


                    </div>
                    <!-- end main -->



                    <!--<div id="extras" role="complementary">
    

</div>-->

                    <!--<div id="ultion_textOpener">-->



                    <!--</div>-->
                    <div id="mainSection" role="main">

                        <div class="text" role="article">

                            <h2>비전</h2>
                            <div id="ultion_textOpener_text">
                                <p>ICT 기반의 Marketing &amp;
                                    Customizing 서비스를 제공하는 Total
                                    Marketing Platform 전문기업</p>
                            </div>



                            <div class="ultion_image">



                                <a
                                    href="/static/assets/dam/jcr_8f1f4407-c38a-4548-a814-4f645136d690/vision.png"
                                    title="Zoom on this image"
                                    rel="showbox"><img
                                    src="/static/assets/dam/jcr_8f1f4407-c38a-4548-a814-4f645136d690/vision.png"
                                    alt=""></a>

                            </div>



                            <div class="ultion_TextImage">
                                <div class="ultion_TextImage_img"
                                    style="float: left; display: inline-block;">

                                    <a
                                        href="/static/assets/dam/jcr_e2335517-103f-4a86-88da-7844ad0001f3/expert_group.png"
                                        title="Zoom on this image"
                                        rel="showbox"><img
                                        src="/static/assets/dam/jcr_e2335517-103f-4a86-88da-7844ad0001f3/expert_group.png"
                                        alt="Expert Group"></a>
                                </div>
                                <div class="ultion_TextImage_text1"
                                    style="float: left;">
                                    <h3>전문가 그룹(EXPERT)</h3>
                                    <p>얼티온은 산업에 대한 풍부한 이해와 철저히 검증된
                                        선진 IT기술을 갖춘 전문가와 업계 최고로 인정받은 서비스
                                        품질을 바탕으로 기업의 정보화를 주도합니다.</p>

                                </div>
                                <hr class="hrLine">

                            </div>



                            <div class="ultion_TextImage">
                                <div class="ultion_TextImage_img"
                                    style="float: left; display: inline-block;">

                                    <a
                                        href="/static/assets/dam/jcr_b6c7997a-b16d-457a-ae67-313da0f6627e/execution.png"
                                        title="Zoom on this image"
                                        rel="showbox"><img
                                        src="/static/assets/dam/jcr_b6c7997a-b16d-457a-ae67-313da0f6627e/execution.png"
                                        alt="Execution"></a>
                                </div>
                                <div class="ultion_TextImage_text1"
                                    style="float: left;">
                                    <h3>최고의 실행력(EXECUTION)</h3>
                                    <p>얼티온은 다년간의 글로벌 벤더 솔루션 분야의 다양한
                                        프로젝트 추진 경험에서 축적된 노하우를 기반으로 최적의
                                        시스템을 구축합니다.</p>

                                </div>
                                <hr class="hrLine">

                            </div>



                            <div class="ultion_TextImage">
                                <div class="ultion_TextImage_img"
                                    style="float: left; display: inline-block;">

                                    <a
                                        href="/static/assets/dam/jcr_cfeb3eb4-df36-440f-89b3-7494c659cb91/enthusiasm.png"
                                        title="Zoom on this image"
                                        rel="showbox"><img
                                        src="/static/assets/dam/jcr_cfeb3eb4-df36-440f-89b3-7494c659cb91/enthusiasm.png"
                                        alt="Enthusiasm"></a>
                                </div>
                                <div class="ultion_TextImage_text1"
                                    style="float: left;">
                                    <h3>열정(ENTHUSIASM)</h3>
                                    <p>얼티온은 조직 구성원 모두가 고객의 입장에서 고객의
                                        다양한 요구를 충족시키기 위해 끊임없이 노력하고 있습니다.</p>

                                </div>

                            </div>

                        </div>
                        <!-- end text -->


                        <span class="gotop">gotop</span>


                    </div>
                    <!-- end main -->

                </div>
                <!-- end wrapper-3 -->

            </div>
            <!-- end wrapper-2 -->

        </div>
        {{>common/footer}}
    </div>
    <!-- end wrapper -->
</body>
<!-- Mirrored from www.ultion.co.kr/company/overview.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Jul 2016 02:05:55 GMT -->

</html>